<!DOCTYPE html>
<html lang="en" dir="lth">

<head>
    <meta charset="utf-8">
    <title>Lista de Alunos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.min.css">

</head>

<body>
    <nav style="background-color: lightsteelblue !important;" class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Alunos Matriculados</span>
        </div>
    </nav>

    <div class="container">
        <table id="alunoTable" class="table table-striped">
            <tr>
                <th>CPF</th>
                <th>nome</th>
                <th>data</th>
                <th>telefone</th>
                <th>pacote</th>
                <th>Operations</th>
            </tr>
            {% for aluno in alunos%}
            <tr>
                <td>{{aluno.cpf}}</td>
                <td>{{aluno.nome}}</td>
                <td>{{aluno.data_nasc}}</td>
                <td>{{aluno.telefone}}</td>
                <td>{{aluno.pacote}}</td>
                <td>
                    <a class="btn btn-danger" href="/delete/{{aluno.cpf}}">Deletar</a>
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>


</body>

</html>